##==============================================================================
## COLORS
##==============================================================================

font_color_user="black"
background_user="red"
texteffect_user="regular"

font_color_host="red"
background_host="black"
texteffect_host="regular"

font_color_pwd="black"
background_pwd="red"
texteffect_pwd="regular"

font_color_git="white"
background_git="black"
texteffect_git="regular"

font_color_input="red"
background_input="none"
texteffect_input="regular"

